version: "3.9"

services:
  db:
    image: mariadb:11
    container_name: prestashop-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: prestashop
      MYSQL_USER: prestashop
      MYSQL_PASSWORD: prestashop
    volumes:
      - ./data/db:/var/lib/mysql
    networks:
      - web

  prestashop1:
    build:
      context: ./prestashop1
      dockerfile: Dockerfile
    container_name: prestashop1
    restart: unless-stopped
    volumes:
      - ./prestashop1/html:/var/www/html
    ports:
      - "8000:80"  # Accès PrestaShop via http://localhost:8000
    depends_on:
      - db
    environment:
      DB_SERVER: db
      DB_NAME: prestashop
      DB_USER: prestashop
      DB_PASSWORD: prestashop
    networks:
      - web

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      APACHE_SERVERNAME: phpmyadminservers
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
      PMA_ARBITRARY: 1
    ports:
      - "8081:80"  # Accès via http://localhost:8081
    networks:
      - web

networks:
  web:
    external: false
